body{
	background: url(../images/background.jpg);
	font-family: 'Roboto Slab', serif;
}
#wrapper{
	background-color: black;
	color:#fff;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 20px;
}
#title{
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: 400;
	color: yellow;
	font-size: 60px;
}

#submit-button{
	color:black;
}